<div class="list-group">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <ul class="list-group">
                    <li class="list-group-item title" aria-current="true">Bachelor's degree | Public Management</li>
                    <li class="list-group-item">University of International Business and Economics, Beijing, China</li>
                    <li class="list-group-item">2011-2015</li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item title" aria-current="true">Advanced Diploma | Software Engineering Technology</li>
                    <li class="list-group-item">Centennial College, ON, Canada</li>
                    <li class="list-group-item">2020-now | Expectd Graduation: April 2022</li>
                </ul>
            </div>
        </div>
    </div>
</div>