<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-sb">
                <ul>
                    <li><a href="mailto: hlutony47@gmail.com"><img class="p-cursor" src="assets/images/email-13-64.png"
                                alt="Search icon" width="20px"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/unavailable/"><img class="p-cursor"
                                src="assets/images/linkedin-2-64.png" alt="Search icon" width="20px"></a></li>
                    <li><a target="_blank" href="https://github.com/hanhan9334?tab=repositories"><img class="p-cursor"
                                src="assets/images/github-7-64.png" alt="Search icon" width="20px"></a></li>
                </ul>
                <ul>
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLink="/projects">Projects</a>
                    </li>
                    <li>
                        <a routerLink="/education">Education</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>