.side-nav>a:hover{
    border-right: solid 3px #f9b205;
}

.side-nav{
    width:20vw;
}
.card-img-top{
    width:100%;
    height: 40vh;
}
.card{
    margin: 10px;
}
.card-text-mt10{
    margin-top: 10px;
}
.btn-project{
    color: black;
}
.container-nav{
    position: fixed;
}

