<div class="list-group">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-9">
                <ul class="list-group">
                    <li class="list-group-item title" aria-current="true">Contact Me</li>
                    <li class="list-group-item">647-768-3140</li>
                    <li class="list-group-item"><a href="mailto: hlutony47@gmail.com"
                            style="color: black;">hlutony47@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>